@font-face{
	font-family: "Droid Sans";
	src:url('font/Droid Sans.ttf');
}

@keyframes pound{
	to { transform: scale(1.4); }
}

.heart {
	margin-left: 44%;
	opacity:0.5;
	text-align: center;
	margin-top: -100px;
	display: inline-block;
	font-size: 100px;
	color: #e00;
	font-family: "Droid Sans";
	animation: pound  0.5s infinite alternate;
	transform-origin: center;
}

body{
	background-color: #ECF0F1;
	
}

body a{
	color: black;
}

a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	font-family: "Droid Sans";
}
a:active{
	text-decoration:none;
}

.outline_m{
	text-align: center;
}

.outline_text{
	margin-top: 10px;
	font-size: 20px;
}

.note_img_span img{
	width: 200px;
	height: 200px;
	vertical-align:text-top;
	margin-top:-450px; 

}