@font-face{
	font-family: "Droid Sans";
	src:url('font/Droid Sans.ttf');
}

@keyframes pound{
	to { transform: scale(1.4); }
}

.heart {
	margin-left: 10%;
	opacity:0.5;
	text-align: center;
	margin-top: -100px;
	display: inline-block;
	font-size: 100px;
	color: #e00;
	font-family: "Droid Sans";
	animation: pound  0.5s infinite alternate;
	transform-origin: center;
}

body{
	background-color: #ECF0F1;
	
}

body a{
	color: black;
}

a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	font-family: "Droid Sans";
}
a:active{
	text-decoration:none;
}

.outline_m{
	text-align: center;
}

.outline_text{
	margin-top: 10px;
	font-size: 20px;
}

.note_img_span img{
	width: 200px;
	height: 200px;
	vertical-align:text-top;
	margin-top:-450px; 
}

.menu{
	height: 46px;
	background-color: #8FBCA6;
	font-family: "Microsoft Yahei";
}

.menu a{
	font-size: 32px;	
	cursor: pointer;
}

.menu a:hover{
	color: #428bca;
	font-family: "Microsoft Yahei";
}

.menu p{
	font-size: 30px;
}

.title{
	font-size: 32px;
	text-align: center;
}

.addlabel{
	font-size: 24px;
	text-align: right;
}

.addcontent{
	font-size: 22px;
	text-align: center;
}

.addinput{
	width: 100%;
	font-weight:normal
}