.leftMenu{
	min-height: 600px;
}

.todoContainer{
	background-color: white;
	min-height: 600px;
}

.menuTab{
	font-size: 15px;
	font-family: "Microsoft Yahei";
}

.todoTypeTabCont{
	font-size: 18px;
}

.todoTypeList{
	color: black;
	cursor: pointer;
	width: 100%;
	margin-top: 12px;
}

.todoTypeList:hover{
	background-color: white;
}

.todoProjCount{
	font-size: 14px;
	color: grey;
	margin-right: 8px;
	float: right;
	display: none;
}

.oneTodoItem{
	width: 100%;
	margin-top: 6px;
	font-size: 16px;
}

.oneTodoItemDdl{
	font-family: "楷体";
	font-size: 12px;
	float: right;
	margin-right: 4px;
}

.allType{
	color:#a8c8e4;
}

.foodType{
	color:#ccff99;
}

.hotelType{
	color:#fb886e;
}

.shopType{
	color:#74e8d3;
}

.travelType{
	color:#e2a8e4;
}

.lifeType{
	color:#FFCC99;
}

.othersType{
	color:#9966FF;
}

.oneTodoItemTitle{
	cursor: pointer;
}

.oneTodoItemContent{
	display: none;
	margin-left: 12px;
	font-size: 14px;
	font-family: "黑体";
}

.addTodoItemIcon{
	margin-left: 20px;
	color:#CC0033;
	cursor: pointer;
}

.addItemLabel{
	text-align:center;
}

.addItemInput{
	width: 80%;
}

.addTodoBodyWithBlank{
	margin-top: 5px;
}

.addTodoItemBody{
	display: none;
}

.submitHint{
	color: red;
	text-align:center;
	font-size: 16px;
}