<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="__CSS__bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__buttons.css" type="text/css" />
	<link rel="stylesheet" href="__CSS__ourmemery.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__BeatPicker.css" type="text/css" />
	<script src="__JS__jquery-1.11.1.min.js"></script>
	<script src="__JS__bootstrap.js"></script>
  <script src="__JS__ourmemery.js"></script>
	<script src="__JS__BeatPicker.js"></script>
  <script src="__JS__lrz.bundle.js"></script>

	<title>添加幸福回忆</title>

</head>

<body>
	{include file="public/menu" /}

  <h1 class="title">添加海飞与路路的幸福回忆</h1>
  <br/>
     
  <form action="{:url('insertIntoYesterday')}" enctype="multipart/form-data"  name="f" onsubmit="return checkForm()" method="post">    
  
  <div class="container addyesterday">
    
    <div class="row">
      <div class="col-md-4 col-sm-4 addlabel">日期:&nbsp;</div>
      <div class="col-md-6 col-sm-6 addcontent">
        <input type="text" data-beatpicker="true" data-beatpicker-module="clear" name="date" placeholder="请输入回忆日期" class="addinput" />
      </div>
      <br/><br/><br/>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 addlabel">标题:&nbsp;</div>
      <div class="col-md-6 col-sm-6 addcontent"><input type="text" name="title" placeholder="请输入回忆标题" class="addinput"></div>
      <br/><br/><br/>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 addlabel">是否高亮:&nbsp;</div>
      <div class="col-md-6 col-sm-6 addcontent">
        <input type="radio" name="highlight" value="highlightYes">是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="highlight" value="highlightNo" checked="checked" >否
      </div>
      <br/><br/><br/>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 addlabel">回忆内容:&nbsp;</div>
      <div class="col-md-6 col-sm-6 addcontent">
         <textarea rows="3" cols="30" name="content" placeholder="请输入回忆内容（支持回车换行）" class="addinput"></textarea>
      </div>
      <br/><br/><br/><br/><br/><br/>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 addlabel">封面图片:&nbsp;</div>
      <div class="col-md-6 col-sm-6 addcontent">
         <input id="imageUpload" type="file" accept="image/*"/>
         <img id="imagePreview" src="">
         <textarea id="imageBase64" name="image" style="display:none;"></textarea>
      </div>
      <br/><br/><br/>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 addlabel">更多图片:&nbsp;</div>
      <div class="col-md-6 col-sm-6 addcontent"><i class="icon-picture" style="cursor:pointer;" onclick="addMorePic(this)"> 点击添加更多图片</i></div>
      <div  style="display:none;" id="morePicDiv">
        <div class="col-md-2 col-sm-2">
          <input id="imageUpload1" type="file" accept="image/*"/>      
          <img id="imagePreview1" src="">      
          <textarea id="imageBase641" name="image1" style="display:none;"></textarea>
        </div>
        <div class="col-md-2 col-sm-2">
          <input id="imageUpload2" type="file" accept="image/*"/>      
          <img id="imagePreview2" src="">      
          <textarea id="imageBase642" name="image2" style="display:none;"></textarea>
        </div>
        <div class="col-md-2 col-sm-2">
          <input id="imageUpload3" type="file" accept="image/*"/>      
          <img id="imagePreview3" src="">      
          <textarea id="imageBase643" name="image3" style="display:none;"></textarea>
        </div>
      </div>

      <br/>      
      <br/>      
      <br/>      
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 addlabel">备注:&nbsp;</div>
      <div class="col-md-6 col-sm-6 addcontent">
         <label class="addinput"><input name="togetherDay" type="checkbox" value="yes"/>&nbsp;&nbsp;同时添加在一起的时间（天数）</label> 
      </div>
      <br/><br/>
    </div>

    <div class="row onSubmitHint" id="onSubmitHint"></div>

    <div class="row">
      <div class="col-md-5 col-sm-5"></div>
      <div class="col-md-2 col-sm-2 addcontent">
        <input type="submit" class="button button-rounded button-flat button-primary" value="添加回忆"/>
      </div>
      <div class="col-md-2 col-sm-2">
        <button type="button" class="button button-border button-rounded button-primary" onclick="javascript:history.go(-1)">
          <i class="icon-undo"></i> 返回
        </button>
      </div>
      <br/><br/><br/>
    </div>

  </div>
  </form>
  
{include file="public/bottom" /}
</body>

<script>
$("input,textarea").focus(function (e) {
    $("#onSubmitHint").html("");
});


function checkForm()
{
  if (document.forms["f"]["date"].value=="") {
    $("#onSubmitHint").html("请输入回忆日期哦宝贝儿~");
    return false;
  }
  if (document.forms["f"]["title"].value=="") {
    $("#onSubmitHint").html("请输入回忆标题哦宝贝儿~");
    return false;
  }
  if (document.forms["f"]["content"].value=="") {
    $("#onSubmitHint").html("请输入回忆内容哦宝贝儿~");
    return false;
  }
  if (document.forms["f"]["image"].value=="") {
    if (document.forms["f"]["image1"].value!="" || document.forms["f"]["image2"].value!="" || document.forms["f"]["image3"].value!="") {
      $("#onSubmitHint").html("请先添加封面图片再添加其他图片哦宝贝儿~");
      return false;
    }
  }
  $("#imageUpload").remove();
  $("#imageUpload1").remove();
  $("#imageUpload2").remove();
  $("#imageUpload3").remove();
  return true;
}

function addMorePic(element){
  $(element).parent().hide();
  $("#morePicDiv").show();
}

document.querySelector('#imageUpload').addEventListener('change', function () {
    lrz(this.files[0],{width: 680,height: 680})
        .then(function (rst) {
            $("#imagePreview").attr('src',rst.base64);
            $("#imageBase64").text(rst.base64);
        })
        .catch(function (err) {
            $("#onSubmitHint").html("啊哦，好像图片压缩失败了呢~快联系你哒宝贝儿老公~");
            // 处理失败会执行
        })
        .always(function () {
            // 不管是成功失败，都会执行
        });
});

document.querySelector('#imageUpload1').addEventListener('change', function () {
    lrz(this.files[0],{width: 680,height: 680})
        .then(function (rst) {
            $("#imagePreview1").attr('src',rst.base64);
            $("#imageBase641").text(rst.base64);
        })
        .catch(function (err) {
            $("#onSubmitHint").html("啊哦，好像图片压缩失败了呢~快联系你哒宝贝儿老公~");
            // 处理失败会执行
        })
        .always(function () {
            // 不管是成功失败，都会执行
        });
});

document.querySelector('#imageUpload2').addEventListener('change', function () {
    lrz(this.files[0],{width: 680,height: 680})
        .then(function (rst) {
            $("#imagePreview2").attr('src',rst.base64);
            $("#imageBase642").text(rst.base64);
        })
        .catch(function (err) {
            $("#onSubmitHint").html("啊哦，好像图片压缩失败了呢~快联系你哒宝贝儿老公~");
            // 处理失败会执行
        })
        .always(function () {
            // 不管是成功失败，都会执行
        });
});

document.querySelector('#imageUpload3').addEventListener('change', function () {
    lrz(this.files[0],{width: 680,height: 680})
        .then(function (rst) {
            $("#imagePreview3").attr('src',rst.base64);
            $("#imageBase643").text(rst.base64);
        })
        .catch(function (err) {
            $("#onSubmitHint").html("啊哦，好像图片压缩失败了呢~快联系你哒宝贝儿老公~");
            // 处理失败会执行
        })
        .always(function () {
            // 不管是成功失败，都会执行
        });
});


</script>

</html>