<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="__CSS__bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="__CSS__ourmemery.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__studybar.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__BeatPicker.css" type="text/css" />
	<script src="__JS__jquery-1.11.1.min.js"></script>
	<script src="__JS__bootstrap.js"></script>
  <script src="__JS__ourmemery.js"></script>
	<script src="__JS__BeatPicker.js"></script>

	<title>编辑幸福回忆</title>

</head>

<body>
	{include file="public/menu" /}

  <h1 class="title">编辑海飞与路路的幸福回忆</h1>
  <br/>
     
  <form action="{:url('updateYesterday')}" name="f" onsubmit="return checkForm()" method="post">    
  <input type="text" name="id" value="{$data.id}" style="display:none;" />
  <div class="container addyesterday">
    
    <div class="row">
      <div class="col-md-4 addlabel">日期:&nbsp;</div>
      <div class="col-md-1"></div>
      <div class="col-md-5 addcontent">
        <input type="text" data-beatpicker="true" data-beatpicker-module="clear" name="date" placeholder="yyyy-mm-dd" class="addinput" value="{$data.year}-{$data.month}-{$data.day}" />
      </div>
      <br/><br/><br/>
    </div>

    <div class="row">
      <div class="col-md-4 addlabel">标题:&nbsp;</div>
      <div class="col-md-1"></div>
      <div class="col-md-5 addcontent"><input type="text" name="title" placeholder="请输入回忆标题" class="addinput" value="{$data.title}"></div>
      <br/><br/><br/>
    </div>

    <div class="row">
      <div class="col-md-4 addlabel">是否高亮:&nbsp;</div>
      <div class="col-md-1"></div>
      <div class="col-md-5 addcontent">
        <input type="radio" name="highlight" value="highlightYes" {eq name='$data.highlight' value='1' }checked="checked"{/eq}>是</input>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="highlight" value="highlightNo" {eq name='$data.highlight' value='0' }checked="checked"{/eq}>否</input>
      </div>
      <br/><br/><br/>
    </div>

    <div class="row">
      <div class="col-md-4 addlabel">回忆内容:&nbsp;</div>
      <div class="col-md-1"></div>
      <div class="col-md-5 addcontent">
         <textarea rows="3" cols="30" name="content" placeholder="请输入回忆内容（支持回车换行）" class="addinput">{$data.content}</textarea>
      </div>
      <br/><br/><br/><br/><br/><br/>
    </div>

    <div class="row">
      <div class="col-md-4 addlabel">备注:&nbsp;</div>
      <div class="col-md-1"></div>
      <div class="col-md-5 addcontent">
         <label class="addinput"><input name="togetherDay" type="checkbox" value="yes" {notempty name="$data.togetherDay"} checked="checked" {/notempty}/>&nbsp;&nbsp;同时添加在一起的时间（天数）</label> 
      </div>
      <br/><br/><br/>
    </div>

    <br/>
    <div class="row">
      <div class="col-md-4"></div>
      <!--
      <div class="col-md-2 addcontent">
        <input type="button" onclick="deleteData({$data.id});" value="删除回忆"/>
      </div>
      -->
      <div class="col-md-2 addcontent">
        <input type="submit" value="更新回忆"/>
      </div>
      <div class="col-md-2 addcontent">
        <input type="button" onclick="cancel();" value="取消编辑"/>
      </div>
      <br/><br/><br/>
    </div>

  </div>
  </form>
</body>

<script>
function checkForm()
{
  if (document.forms["f"]["date"].value=="") {
    alert("请输入回忆日期哦宝贝儿~");
    return false;
  }
  if (document.forms["f"]["title"].value=="") {
    alert("请输入回忆标题哦宝贝儿~");
    return false;
  }
  if (document.forms["f"]["content"].value=="") {
    alert("请输入回忆内容哦宝贝儿~");
    return false;
  }
  return true;
}

function cancel()
{
  history.go(-1);
}

/*
function deleteData(id)
{
  var ret = window.confirm("真的要删除这条幸福回忆嘛宝贝儿?");
  //当点击确定时 返回 true 
  if(ret){
      //do something 点确定
      window.location.href="deleteYesterday?id="+id;
  }
}*/

</script>

</html>