<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="__CSS__bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__ourmemery.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__buttons.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__font-awesome.min.css" type="text/css" />
  <script src="__JS__jquery-1.11.1.min.js"></script>
  <script src="__JS__bootstrap.js"></script>

  <title>Future Marrigae</title>

</head>
<body>
  {include file="public/menu" /}
  <h1>Future Marrigae</h1>

  {include file="public/bottom" /}

</body>

</html>