<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="__CSS__bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="__CSS__ourmemery.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__buttons.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__yesterdayStyle.css" type="text/css" />
  <link rel="stylesheet" href="__CSS__jquery.lightbox-0.5.css" type="text/css" />
	<script src="__JS__jquery-1.11.1.min.js"></script>
	<script src="__JS__bootstrap.js"></script>
  <script src="__JS__jquery.lightbox-0.5.js"></script>
	<script src="__JS__ourmemery.js"></script>

	<title>Yesterday We Remember</title>

</head>

<body>
	{include file="public/menu" /}

<div class="content">
  <div class="wrapper">
    <div class="light"><i></i></div>
    <hr class="line-left">
    <hr class="line-right">

    <div class="main">
      <h1 class="title">海飞与路路的幸福回忆</h1>

      {volist name="data" id="oneyear"}
      <div class="year">
        <h2><a href="#">{$key}年<i></i></a></h2>

        <div class="list">
          <ul>
          	{volist name="oneyear" id="onedata"}          	
            <li {if condition="$onedata.highlight eq 1"} class="cls highlight" {else /} class="cls" {/if} onmouseover="showEditYesterdayButton({$onedata.id});" onmouseout="hideEditYesterdayButton({$onedata.id});">
              <p class="date">{$onedata.month}月{$onedata.day}日</p>
              <p class="intro">{$onedata.title}
                <span class="editYesterdayButton" id='edit{$onedata.id}'>&nbsp;&nbsp;<a href="editYesterday?id={$onedata.id}" title="编辑"><i class="icon-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="deleteData({$onedata.id})" title="删除"><i class="icon-trash"></i></a></span><span class="deleteFlagS" id='deleteFlag{$onedata.id}'></span>
              </p>
              <p class="version">{empty name="$onedata.togetherDay"}&nbsp;{else /}{$onedata.togetherDay}天{/empty}</p>
              <div class="more">
                <p id="getMoreContent{$onedata.id}">{$onedata.content}{if condition="$onedata.more eq 1"}...<br/>
                  <span class="addMoreButton" onclick="getMoreContent({$onedata.id});">[more text]</span>{/if}
                </p>
                {notempty name="$onedata.image"}
                <div id="getMorePicture{$onedata.id}">
                  <a href="{$onedata.image}" title="{$onedata.title}"><img width="150" src="{$onedata.image}"></a>
                  {notempty name="$onedata.image1"}<a href="{$onedata.image1}" title="{$onedata.title}"></a>{/notempty}
                  {notempty name="$onedata.image2"}<a href="{$onedata.image2}" title="{$onedata.title}"></a>{/notempty}
                  {notempty name="$onedata.image3"}<a href="{$onedata.image3}" title="{$onedata.title}"></a>{/notempty}
                </div>
                <script type="text/javascript">
                  $(function() {
                      $('#getMorePicture{$onedata.id} a').lightBox();
                  });
                </script>   
                {/notempty}
              </div>
            </li>
   			{/volist}
          </ul>
        </div><!--end div class="list"-->
      </div>
      {/volist}

      <div class="edit">
      	<a href="addYesterday">
      		<p>添加回忆</p>
      		<img src="__IMG__edit.ico">
      	</a>
      </div>

    </div>
  </div>
  <div style="color:white">{include file="public/bottom" /}</div>
</div>

<script>
/*
$(".main .year .list").each(function (e, target) {
    var $target=  $(target),
        $ul = $target.find("ul");
    $target.height($ul.outerHeight()), $ul.css("position", "absolute");
});
*/
$(".main .year>h2>a").click(function (e) {
    e.preventDefault();
    $(this).parents(".year").toggleClass("close1");
});

</script>
</body>

</html>