<nav class="navbar navbar-default navbar-fixed-top menu" role="navigation">
	<div class="navbar-header">
      <a class="navbar-brand" href="index">相伴而行</a>
   </div>
   <div>
      <ul class="nav navbar-nav navbar-left">
         <li ><a href="yesterday">幸福回忆</a></li>
         <li><a href="tomorrow">展望未来</a></li>
         <li><a href="memorial">纪念日</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {empty name="username"}
		<li><a data-toggle="modal" data-target="#myModal">登录</a></li>
	    {else/}
	    <li><a>欢迎我宝贝儿</a></li>
	    <li><a href="{:url('logout')}">注销&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
		{/empty}			
      </ul>
</nav>

<!--Launch modal start-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="myModalLabel">Welcome to Our Memeries</h4>
        </div>
        <div class="modal-body ">
        	<form action="{:url('login')}" method="post">
        		<div class="login_imac"><img src="__IMG__login/imac.png"></div>
	          	<div class="login_text">
	            	<ul>姓&nbsp;&nbsp;名&nbsp;&nbsp;<input type="text" placeholder="请输入姓名" class="login_text_u form-control" id="username" name="username"></ul>
	         	 </div>
	          	<div class="login_pwd">
	            	<ul>密&nbsp;&nbsp;码&nbsp;&nbsp;<input type="password" placeholder="请输入密码" class="login_text_p form-control" id="password" name="password"></ul>
	         	</div> 
	          	<div class="login_btn">
	           		<button type="submit" class="button button-flat-primary">　登　陆　</button>     
	          	</div>
        	</form>      
        </div>
        <div class="modal-footer">
          <button type="button" class="button glow button-rounded button-flat" data-dismiss="modal">取消</button>
          <a href=""><button type="button" class="button glow button-rounded button-flat-primary">先看看~~~</button></a>
        </div>
      </div>
    </div>
</div>