<div class="container-fluid menu">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-2 col-sm-2">
			<a href="index">相伴而行</a>
		</div>
		<div class="col-md-2 col-sm-2">
			<a href="yesterday">幸福回忆</a>
		</div>
		<div class="col-md-2 col-sm-2">
			<a href="tomorrow">展望未来</a>
		</div>
		<div class="col-md-2 col-sm-2">
			<a href="memorial">纪念日</a>
		</div>
		{empty name="username"}
        	<div class="col-md-1 col-sm-1"></div>
			<div class="col-md-2 col-sm-2">
				<a data-toggle="modal" data-target="#myModal">登录</a>
			</div>
	    {else/}
			<div class="col-md-3 col-sm-3">
				<div style="color:black; font-family: 'Microsoft Yahei'; font-size:24px;">欢迎{$username}&nbsp;<a href="{:url('logout')}">注销</a></div>
			</div>
	    {/empty}				
	</div>
</div>

<!--Launch modal start-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="myModalLabel">Welcome to Our Memeries</h4>
        </div>
        <div class="modal-body ">
        	<form action="{:url('login')}" method="post">
        		<div class="login_imac"><img src="__IMG__login/imac.png"></div>
	          	<div class="login_text">
	            	<ul>姓&nbsp;&nbsp;名&nbsp;&nbsp;<input type="text" placeholder="请输入姓名" class="login_text_u form-control" id="username" name="username"></ul>
	         	 </div>
	          	<div class="login_pwd">
	            	<ul>密&nbsp;&nbsp;码&nbsp;&nbsp;<input type="password" placeholder="请输入密码" class="login_text_p form-control" id="password" name="password"></ul>
	         	</div> 
	          	<div class="login_btn">
	           		<button type="submit" class="button button-flat-primary">　登　陆　</button>     
	          	</div>
        	</form>      
        </div>
        <div class="modal-footer">
          <button type="button" class="button glow button-rounded button-flat" data-dismiss="modal">取消</button>
          <a href=""><button type="button" class="button glow button-rounded button-flat-primary">先看看~~~</button></a>
        </div>
      </div>
    </div>
</div>